.wrapperTask{
  background-color: var(--gray-500);
  border-radius: 8px;
  display: flex;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.text {
  width: 100%;
  color: var(--gray-100);
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  
}

.text p {
  font-size: 0.875rem;

  display: flex;
  text-align: left;
  
}

.taskFinished {
  text-decoration: line-through;
  
  color: var(--gray-300);

}

.imageContainer {
  align-self: flex-start;
}

.imageContainer .check {
  width: 1.5rem;
  height: 1.5rem;

  background: transparent;
  border: 0;

  cursor: pointer;

  color: var(--blue);
}

.imageContainer .trash {
  width: 1.5rem;
  height: 1.5rem;

  background: transparent;
  border: 0;

  color: var(--gray-300);
  
  cursor: pointer;
}

.trash:hover{
  color: var(--danger);
}
