:root {
  --white: #fff;
  --gray-100: #f2f2f2;
  --gray-300: #d9d9d9;
  --gray-400: #808080;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;
  
  --blue-dark: #1E6F9F;
  --blue: #4EA8DE;
  --purple-dark: #5E60CE;
  --purple: #8284FA;

  --danger: #E25858;

  --font-primary: 'Inter', sans-serif;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--purple-dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--gray-600);
  color: var(--gray-300);

  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
}
